<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_II/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Questão 1

### 1.1 - Leitura dos Dados

In [40]:
# intalando as bibliotecas necessárias

!pip install statsmodels
!pip install linearmodels
!pip unintall scipy
!pip install --upgrade scipy

from IPython.display import clear_output 

clear_output()

In [71]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np
import statistics
from scipy import stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
import matplotlib as mpl
from IPython.display import clear_output

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
# módulos de teste

from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import het_breuschpagan, linear_reset
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.stattools import durbin_watson
from patsy import dmatrices

In [43]:
# lendo os dados e criando o DataFrame

df = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta')

In [45]:
# visualizando o shape da base de dados

df.shape

(19827, 22)

In [46]:
# primeira vista da base de dados

df.head(10)

   locality_identifier  household_identifier  ...  hospital_distance  hospital
0                 26.0                   5.0  ...         124.819966       0.0
1                 26.0                   5.0  ...         124.819966       0.0
2                 26.0                  11.0  ...         124.819966       0.0
3                 26.0                  11.0  ...         124.819966       1.0
4                 26.0                  13.0  ...         124.819966       1.0
5                 26.0                  13.0  ...         124.819966       0.0
6                 26.0                  16.0  ...         124.819966       0.0
7                 26.0                  16.0  ...         124.819966       0.0
8                 26.0                  21.0  ...         124.819966       0.0
9                 26.0                  21.0  ...         124.819966       0.0

[10 rows x 22 columns]

In [47]:
# vendo a descrição das variáveis (só funciona com arquivos .dta)

# lendo novamente a base, mas agora com iterator, o que retorna um objeto do tipo StataReader

stata_reader = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta', iterator=True)

# pegando as descrições das variáveis

descricoes = stata_reader.variable_labels()

descricoes

{'age_hh': 'Age of the head of the household (in years)',
 'age_sp': 'Age of the spouse (in years)',
 'bathroom': 'Home with private bathroom at baseline (0=no, 1=yes)',
 'dirtfloor': 'Home has a dirt floor at baseline (0=no, 1=yes)',
 'educ_hh': 'Education of the head of household (completed years of schooling)',
 'educ_sp': 'Education of the spouse (completed years of schooling)',
 'eligible': 'Household eligible to enroll in HISP (0=no, 1=yes)',
 'enrolled': 'HH enrolled in HISP (0=no, 1=yes)',
 'enrolled_rp': 'Household enrolled in HISP under the random promotion scenario (0=no, 1=yes)',
 'female_hh': 'Head of the household is a woman (0=no, 1=yes)',
 'health_expenditures': 'Out of pocket health expenditures (per person per year)',
 'hhsize': 'Number of household members (baseline)',
 'hospital': 'HH member visited hospital in the past year (0=no, 1=yes)',
 'hospital_distance': 'Distance to closest hospital',
 'household_identifier': 'Unique household identifier',
 'indigenous': 'Head of household speaks an indigenous language (0=no, 1=yes)',
 'land': 'Number of hectares of land owned by household at baseline',
 'locality_identifier': 'Locality identifier',
 'poverty_index': 'Poverty Index 1-100',
 'promotion_locality': 'Household is located in promoted community (0=no, 1=yes)',
 'round': 'Survey round (0 = baseline; 1 = follow-up)',
 'treatment_locality': 'Household is located in treatment community (0=no, 1=yes)'}

In [48]:
# descrevendo o DataFrame

df.describe()

       locality_identifier  ...      hospital
count         19827.000000  ...  11257.000000
mean             73.933472  ...      0.052323
std              55.076599  ...      0.222696
min               1.000000  ...      0.000000
25%              30.000000  ...      0.000000
50%              59.000000  ...      0.000000
75%             112.000000  ...      0.000000
max             200.000000  ...      1.000000

[8 rows x 22 columns]

### 1.2 - Divisão de antes e depois do programa

In [64]:
# dividindo de antes do programa

df_inscritos_antes = df.query('enrolled == 1 & round == 0 & treatment_locality == 1')

df_inscritos_antes

       locality_identifier  household_identifier  ...  hospital_distance  hospital
0                     26.0                   5.0  ...         124.819966       0.0
2                     26.0                  11.0  ...         124.819966       0.0
5                     26.0                  13.0  ...         124.819966       0.0
7                     26.0                  16.0  ...         124.819966       0.0
8                     26.0                  21.0  ...         124.819966       0.0
...                    ...                   ...  ...                ...       ...
11247                 40.0               15773.0  ...         114.763392       0.0
11249                 40.0               15774.0  ...         114.763392       0.0
11252                 40.0               15775.0  ...         114.763392       0.0
11253                 40.0               15776.0  ...         114.763392       0.0
11256                 40.0               15777.0  ...         114.763392       0.0

[2964 rows x 22 columns]

In [62]:
# dados de depois do programa

df_inscritos_depois = df.query('enrolled == 1 & round == 1')

df_inscritos_depois

       locality_identifier  household_identifier  ...  hospital_distance  hospital
1                     26.0                   5.0  ...         124.819966       0.0
3                     26.0                  11.0  ...         124.819966       1.0
4                     26.0                  13.0  ...         124.819966       1.0
6                     26.0                  16.0  ...         124.819966       0.0
9                     26.0                  21.0  ...         124.819966       0.0
...                    ...                   ...  ...                ...       ...
11248                 40.0               15773.0  ...         114.763392       0.0
11250                 40.0               15774.0  ...         114.763392       0.0
11251                 40.0               15775.0  ...         114.763392       0.0
11254                 40.0               15776.0  ...         114.763392       0.0
11255                 40.0               15777.0  ...         114.763392       0.0

[2965 rows x 22 columns]

In [63]:
# dados de todos os inscritos no programa

df_inscritos = df.query('enrolled == 1')

df_inscritos

       locality_identifier  household_identifier  ...  hospital_distance  hospital
0                     26.0                   5.0  ...         124.819966       0.0
1                     26.0                   5.0  ...         124.819966       0.0
2                     26.0                  11.0  ...         124.819966       0.0
3                     26.0                  11.0  ...         124.819966       1.0
4                     26.0                  13.0  ...         124.819966       1.0
...                    ...                   ...  ...                ...       ...
11252                 40.0               15775.0  ...         114.763392       0.0
11253                 40.0               15776.0  ...         114.763392       0.0
11254                 40.0               15776.0  ...         114.763392       0.0
11255                 40.0               15777.0  ...         114.763392       0.0
11256                 40.0               15777.0  ...         114.763392       0.0

[5929 rows x 22 columns]

### 1.3 - Comparação de gastos médios

In [65]:
# realizando testes:

stats.ttest_ind(df_inscritos_antes['health_expenditures'], df_inscritos_depois['health_expenditures'], nan_policy='omit')

# o p-value é muito baixo, então rejeita-se a hipótese de que a média de gastos depois do programa é igual à de antes

Ttest_indResult(statistic=39.764560411867826, pvalue=9.90593763905028e-307)

## Questão 2

### 2.1 - Comparação das médias de antes e depois dos gastos com saúde

In [66]:
# média total

df['health_expenditures'].mean()

17.03510284423828

In [67]:
# média dos inscritos

df_inscritos['health_expenditures'].mean()

11.164377212524414

In [68]:
# média de antes

df_inscritos_antes['health_expenditures'].mean()

14.489691734313965

In [72]:
# desvio padrão de antes

statistics.stdev(df_inscritos_antes['health_expenditures'])

4.356316817636983

In [74]:
# intervalo de confiança

stats.norm.interval(alpha=0.95, loc=np.mean(df_inscritos_antes['health_expenditures']), scale=stats.sem(df_inscritos_antes['health_expenditures']))

(14.332861994093571, 14.646521474534358)

In [69]:
# média de depois

df_inscritos_depois['health_expenditures'].mean()

7.840174198150635

### 2.2 - Regressões

In [59]:
# regressão simples

formula_simples = "health_expenditures ~ 1 + round"

modelo_simples_antesdepois = ols(formula_simples, df_inscritos).fit(cov_type="HC2", use_t=True)

print(modelo_simples_antesdepois.summary())

# se pode deduzir que, com o passar do tempo, os gastos (em dólares por pessoa por ano) cairam $6,65

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.211
Model:                             OLS   Adj. R-squared:                  0.210
Method:                  Least Squares   F-statistic:                     1582.
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):          8.84e-307
Time:                         02:12:44   Log-Likelihood:                -19453.
No. Observations:                 5929   AIC:                         3.891e+04
Df Residuals:                     5927   BIC:                         3.892e+04
Df Model:                            1
Covariance Type:                   HC2
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.4897      0.080    181.083      0.000      14.333      14.647
round         -6.6495      0.167    -39.768      0.000      -6.977      -6.322
==============================================================================
Omnibus:                     3232.815   Durbin-Watson:                   1.570
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            45501.574
Skew:                           2.300   Prob(JB):                         0.00
Kurtosis:                      15.768   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC2)

In [60]:
# regressão com modelo mais completo

formula_completa = "health_expenditures ~ 1 + round + age_hh +  educ_hh + educ_sp + female_hh + indigenous + hhsize + dirtfloor + bathroom + land + hospital_distance"

modelo_completo_antesdepois = ols(formula_completa, df_inscritos).fit(cov_type="HC2", use_t=True)

print(modelo_completo_antesdepois.summary())

# o resultado é muito similar e com a mesma conclusão do modelo mais simples

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.483
Model:                             OLS   Adj. R-squared:                  0.482
Method:                  Least Squares   F-statistic:                     783.6
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):               0.00
Time:                         02:15:05   Log-Likelihood:                -18201.
No. Observations:                 5929   AIC:                         3.643e+04
Df Residuals:                     5917   BIC:                         3.651e+04
Df Model:                           11
Covariance Type:                   HC2
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            24.7391      0.436     56.719      0.000      23.884      25.594
round                -6.7105      0.135    -49.780      0.000      -6.975      -6.446
age_hh                0.0635      0.007      9.517      0.000       0.050       0.077
educ_hh               0.0629      0.032      1.942      0.052      -0.001       0.126
educ_sp              -0.0772      0.030     -2.551      0.011      -0.137      -0.018
female_hh             1.0019      0.315      3.181      0.001       0.384       1.619
indigenous           -1.9499      0.155    -12.575      0.000      -2.254      -1.646
hhsize               -1.7893      0.040    -45.200      0.000      -1.867      -1.712
dirtfloor            -2.3095      0.160    -14.419      0.000      -2.623      -1.995
bathroom              0.3604      0.139      2.592      0.010       0.088       0.633
land                  0.0981      0.025      3.878      0.000       0.048       0.148
hospital_distance    -0.0045      0.002     -2.466      0.014      -0.008      -0.001
==============================================================================
Omnibus:                     4104.277   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           136461.858
Skew:                           2.873   Prob(JB):                         0.00
Kurtosis:                      25.790   Cond. No.                         813.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC2)

## Questão 3