<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_II/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# intalando as bibliotecas necessárias

!pip install statsmodels
!pip install linearmodels
!pip install scipy

from IPython.display import clear_output 

clear_output()

In [ ]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
import matplotlib as mpl
from IPython.display import clear_output

In [ ]:
# módulos de teste

from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import het_breuschpagan, linear_reset
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.stattools import durbin_watson
from patsy import dmatrices

In [ ]:
# lendo os dados e criando o DataFrame

df = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta')

In [ ]:
# visualizando o shape da base de dados

df.shape

(19827, 22)

In [ ]:
# primeira vista da base de dados

df.head(10)

   locality_identifier  household_identifier  ...  hospital_distance  hospital
0                 26.0                   5.0  ...         124.819966       0.0
1                 26.0                   5.0  ...         124.819966       0.0
2                 26.0                  11.0  ...         124.819966       0.0
3                 26.0                  11.0  ...         124.819966       1.0
4                 26.0                  13.0  ...         124.819966       1.0
5                 26.0                  13.0  ...         124.819966       0.0
6                 26.0                  16.0  ...         124.819966       0.0
7                 26.0                  16.0  ...         124.819966       0.0
8                 26.0                  21.0  ...         124.819966       0.0
9                 26.0                  21.0  ...         124.819966       0.0

[10 rows x 22 columns]

In [ ]:
# vendo a descrição das variáveis (só funciona com arquivos .dta)

# lendo novamente a base, mas agora com iterator, o que retorna um objeto do tipo StataReader

stata_reader = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta', iterator=True)

# pegando as descrições das variáveis

descricoes = stata_reader.variable_labels()

descricoes

{'age_hh': 'Age of the head of the household (in years)',
 'age_sp': 'Age of the spouse (in years)',
 'bathroom': 'Home with private bathroom at baseline (0=no, 1=yes)',
 'dirtfloor': 'Home has a dirt floor at baseline (0=no, 1=yes)',
 'educ_hh': 'Education of the head of household (completed years of schooling)',
 'educ_sp': 'Education of the spouse (completed years of schooling)',
 'eligible': 'Household eligible to enroll in HISP (0=no, 1=yes)',
 'enrolled': 'HH enrolled in HISP (0=no, 1=yes)',
 'enrolled_rp': 'Household enrolled in HISP under the random promotion scenario (0=no, 1=yes)',
 'female_hh': 'Head of the household is a woman (0=no, 1=yes)',
 'health_expenditures': 'Out of pocket health expenditures (per person per year)',
 'hhsize': 'Number of household members (baseline)',
 'hospital': 'HH member visited hospital in the past year (0=no, 1=yes)',
 'hospital_distance': 'Distance to closest hospital',
 'household_identifier': 'Unique household identifier',
 'indigenous': 'Head of household speaks an indigenous language (0=no, 1=yes)',
 'land': 'Number of hectares of land owned by household at baseline',
 'locality_identifier': 'Locality identifier',
 'poverty_index': 'Poverty Index 1-100',
 'promotion_locality': 'Household is located in promoted community (0=no, 1=yes)',
 'round': 'Survey round (0 = baseline; 1 = follow-up)',
 'treatment_locality': 'Household is located in treatment community (0=no, 1=yes)'}

In [ ]:
# descrevendo o DataFrame

df.describe()

       locality_identifier  ...      hospital
count         19827.000000  ...  11257.000000
mean             73.933472  ...      0.052323
std              55.076599  ...      0.222696
min               1.000000  ...      0.000000
25%              30.000000  ...      0.000000
50%              59.000000  ...      0.000000
75%             112.000000  ...      0.000000
max             200.000000  ...      1.000000

[8 rows x 22 columns]