<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_II/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Questão 1

### 1.1 - Leitura dos Dados

In [1]:
# intalando as bibliotecas necessárias

!pip install statsmodels
!pip install linearmodels
!pip unintall scipy
!pip install --upgrade scipy

from IPython.display import clear_output 

clear_output()

In [30]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np
import statistics
from scipy import stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
import matplotlib as mpl
from linearmodels.iv import IV2SLS
from IPython.display import clear_output

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# módulos de teste

from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import het_breuschpagan, linear_reset
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.stattools import durbin_watson
from patsy import dmatrices

In [5]:
# lendo os dados e criando o DataFrame

df = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta')

In [6]:
# visualizando o shape da base de dados

df.shape

(19827, 22)

In [7]:
# primeira vista da base de dados

df.head(10)

   locality_identifier  household_identifier  ...  hospital_distance  hospital
0                 26.0                   5.0  ...         124.819966       0.0
1                 26.0                   5.0  ...         124.819966       0.0
2                 26.0                  11.0  ...         124.819966       0.0
3                 26.0                  11.0  ...         124.819966       1.0
4                 26.0                  13.0  ...         124.819966       1.0
5                 26.0                  13.0  ...         124.819966       0.0
6                 26.0                  16.0  ...         124.819966       0.0
7                 26.0                  16.0  ...         124.819966       0.0
8                 26.0                  21.0  ...         124.819966       0.0
9                 26.0                  21.0  ...         124.819966       0.0

[10 rows x 22 columns]

In [8]:
# vendo a descrição das variáveis (só funciona com arquivos .dta)

# lendo novamente a base, mas agora com iterator, o que retorna um objeto do tipo StataReader

stata_reader = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta', iterator=True)

# pegando as descrições das variáveis

descricoes = stata_reader.variable_labels()

descricoes

{'age_hh': 'Age of the head of the household (in years)',
 'age_sp': 'Age of the spouse (in years)',
 'bathroom': 'Home with private bathroom at baseline (0=no, 1=yes)',
 'dirtfloor': 'Home has a dirt floor at baseline (0=no, 1=yes)',
 'educ_hh': 'Education of the head of household (completed years of schooling)',
 'educ_sp': 'Education of the spouse (completed years of schooling)',
 'eligible': 'Household eligible to enroll in HISP (0=no, 1=yes)',
 'enrolled': 'HH enrolled in HISP (0=no, 1=yes)',
 'enrolled_rp': 'Household enrolled in HISP under the random promotion scenario (0=no, 1=yes)',
 'female_hh': 'Head of the household is a woman (0=no, 1=yes)',
 'health_expenditures': 'Out of pocket health expenditures (per person per year)',
 'hhsize': 'Number of household members (baseline)',
 'hospital': 'HH member visited hospital in the past year (0=no, 1=yes)',
 'hospital_distance': 'Distance to closest hospital',
 'household_identifier': 'Unique household identifier',
 'indigenous': 'Head of household speaks an indigenous language (0=no, 1=yes)',
 'land': 'Number of hectares of land owned by household at baseline',
 'locality_identifier': 'Locality identifier',
 'poverty_index': 'Poverty Index 1-100',
 'promotion_locality': 'Household is located in promoted community (0=no, 1=yes)',
 'round': 'Survey round (0 = baseline; 1 = follow-up)',
 'treatment_locality': 'Household is located in treatment community (0=no, 1=yes)'}

In [9]:
# descrevendo o DataFrame

df.describe()

       locality_identifier  ...      hospital
count         19827.000000  ...  11257.000000
mean             73.933472  ...      0.052323
std              55.076599  ...      0.222696
min               1.000000  ...      0.000000
25%              30.000000  ...      0.000000
50%              59.000000  ...      0.000000
75%             112.000000  ...      0.000000
max             200.000000  ...      1.000000

[8 rows x 22 columns]

### 1.2 - Divisão de antes e depois do programa

In [10]:
# dividindo de antes do programa

df_inscritos_antes = df.query('enrolled == 1 & round == 0 & treatment_locality == 1')

df_inscritos_antes

       locality_identifier  household_identifier  ...  hospital_distance  hospital
0                     26.0                   5.0  ...         124.819966       0.0
2                     26.0                  11.0  ...         124.819966       0.0
5                     26.0                  13.0  ...         124.819966       0.0
7                     26.0                  16.0  ...         124.819966       0.0
8                     26.0                  21.0  ...         124.819966       0.0
...                    ...                   ...  ...                ...       ...
11247                 40.0               15773.0  ...         114.763392       0.0
11249                 40.0               15774.0  ...         114.763392       0.0
11252                 40.0               15775.0  ...         114.763392       0.0
11253                 40.0               15776.0  ...         114.763392       0.0
11256                 40.0               15777.0  ...         114.763392       0.0

[2964 rows x 22 columns]

In [11]:
# dados de depois do programa

df_inscritos_depois = df.query('enrolled == 1 & round == 1')

df_inscritos_depois

       locality_identifier  household_identifier  ...  hospital_distance  hospital
1                     26.0                   5.0  ...         124.819966       0.0
3                     26.0                  11.0  ...         124.819966       1.0
4                     26.0                  13.0  ...         124.819966       1.0
6                     26.0                  16.0  ...         124.819966       0.0
9                     26.0                  21.0  ...         124.819966       0.0
...                    ...                   ...  ...                ...       ...
11248                 40.0               15773.0  ...         114.763392       0.0
11250                 40.0               15774.0  ...         114.763392       0.0
11251                 40.0               15775.0  ...         114.763392       0.0
11254                 40.0               15776.0  ...         114.763392       0.0
11255                 40.0               15777.0  ...         114.763392       0.0

[2965 rows x 22 columns]

In [12]:
# dados de todos os inscritos no programa

df_inscritos = df.query('enrolled == 1')

df_inscritos

       locality_identifier  household_identifier  ...  hospital_distance  hospital
0                     26.0                   5.0  ...         124.819966       0.0
1                     26.0                   5.0  ...         124.819966       0.0
2                     26.0                  11.0  ...         124.819966       0.0
3                     26.0                  11.0  ...         124.819966       1.0
4                     26.0                  13.0  ...         124.819966       1.0
...                    ...                   ...  ...                ...       ...
11252                 40.0               15775.0  ...         114.763392       0.0
11253                 40.0               15776.0  ...         114.763392       0.0
11254                 40.0               15776.0  ...         114.763392       0.0
11255                 40.0               15777.0  ...         114.763392       0.0
11256                 40.0               15777.0  ...         114.763392       0.0

[5929 rows x 22 columns]

### 1.3 - Comparação de gastos médios

In [13]:
# realizando testes:

stats.ttest_ind(df_inscritos_antes['health_expenditures'], df_inscritos_depois['health_expenditures'], nan_policy='omit')

# o p-value é muito baixo, então rejeita-se a hipótese de que a média de gastos depois do programa é igual à de antes

Ttest_indResult(statistic=39.764560411867826, pvalue=9.90593763905028e-307)

## Questão 2

### 2.1 - Comparação das médias de antes e depois dos gastos com saúde

In [22]:
# média total

df['health_expenditures'].mean()

17.03510284423828

In [23]:
# média dos inscritos

df_inscritos['health_expenditures'].mean()

11.164377212524414

In [24]:
# média de antes

df_inscritos_antes['health_expenditures'].mean()

14.489691734313965

In [25]:
# desvio padrão de antes

statistics.stdev(df_inscritos_antes['health_expenditures'])

4.356316817636983

In [26]:
# intervalo de confiança

stats.norm.interval(alpha=0.95, loc=np.mean(df_inscritos_antes['health_expenditures']), scale=stats.sem(df_inscritos_antes['health_expenditures']))

(14.332861994093571, 14.646521474534358)

In [27]:
# média de depois

df_inscritos_depois['health_expenditures'].mean()

7.840174198150635

### 2.2 - Regressões

In [28]:
# regressão simples

formula_simples = "health_expenditures ~ 1 + round"

modelo_simples_antesdepois = ols(formula_simples, df_inscritos).fit(cov_type="HC2", use_t=True)

print(modelo_simples_antesdepois.summary())

# se pode deduzir que, com o passar do tempo, os gastos (em dólares por pessoa por ano) cairam $6,65

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.211
Model:                             OLS   Adj. R-squared:                  0.210
Method:                  Least Squares   F-statistic:                     1582.
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):          8.84e-307
Time:                         17:17:41   Log-Likelihood:                -19453.
No. Observations:                 5929   AIC:                         3.891e+04
Df Residuals:                     5927   BIC:                         3.892e+04
Df Model:                            1
Covariance Type:                   HC2
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.4897      0.080    181.083      0.000      14.333      14.647
round         -6.6495      0.167    -39.768      0.000      -6.977      -6.322
==============================================================================
Omnibus:                     3232.815   Durbin-Watson:                   1.570
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            45501.574
Skew:                           2.300   Prob(JB):                         0.00
Kurtosis:                      15.768   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC2)

In [29]:
# regressão com modelo mais completo

formula_completa = "health_expenditures ~ 1 + round + age_hh +  educ_hh + educ_sp + female_hh + indigenous + hhsize + dirtfloor + bathroom + land + hospital_distance"

modelo_completo_antesdepois = ols(formula_completa, df_inscritos).fit(cov_type="HC2", use_t=True)

print(modelo_completo_antesdepois.summary())

# o resultado é muito similar e com a mesma conclusão do modelo mais simples

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.483
Model:                             OLS   Adj. R-squared:                  0.482
Method:                  Least Squares   F-statistic:                     783.6
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):               0.00
Time:                         17:17:41   Log-Likelihood:                -18201.
No. Observations:                 5929   AIC:                         3.643e+04
Df Residuals:                     5917   BIC:                         3.651e+04
Df Model:                           11
Covariance Type:                   HC2
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            24.7391      0.436     56.719      0.000      23.884      25.594
round                -6.7105      0.135    -49.780      0.000      -6.975      -6.446
age_hh                0.0635      0.007      9.517      0.000       0.050       0.077
educ_hh               0.0629      0.032      1.942      0.052      -0.001       0.126
educ_sp              -0.0772      0.030     -2.551      0.011      -0.137      -0.018
female_hh             1.0019      0.315      3.181      0.001       0.384       1.619
indigenous           -1.9499      0.155    -12.575      0.000      -2.254      -1.646
hhsize               -1.7893      0.040    -45.200      0.000      -1.867      -1.712
dirtfloor            -2.3095      0.160    -14.419      0.000      -2.623      -1.995
bathroom              0.3604      0.139      2.592      0.010       0.088       0.633
land                  0.0981      0.025      3.878      0.000       0.048       0.148
hospital_distance    -0.0045      0.002     -2.466      0.014      -0.008      -0.001
==============================================================================
Omnibus:                     4104.277   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           136461.858
Skew:                           2.873   Prob(JB):                         0.00
Kurtosis:                      25.790   Cond. No.                         813.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC2)

## Questão 3

### 3.1 -Comparação dos gastos de saúde da linha de base e outras covariáveis

In [49]:
# comparação de diferentes médias entre elegíveis em comunidades de tratamento e controle

df[df.eligible == 1].groupby('treatment_locality')[["health_expenditures", "age_hh", "age_sp", "educ_hh", "educ_sp", "female_hh", "indigenous",
              "hhsize", "dirtfloor", "bathroom", "land", "hospital_distance"]].mean()

# as médias da amostra permitem supor uma devida randomização, conforme esperado, já que se trata do esperado para aplicação da política pública

                    health_expenditures     age_hh  ...      land  hospital_distance
treatment_locality                                  ...
0.0                           16.277199  42.773087  ...  1.717342         106.295549
1.0                           11.164376  42.141880  ...  1.678023         109.213428

[2 rows x 12 columns]

In [69]:
# criando lista e fórmula com controles

# lista
lControles = ["age_hh", "age_sp", "educ_hh", "educ_sp", "female_hh", "indigenous", "hhsize", "dirtfloor", "bathroom", "land", "hospital_distance"]

# ormulas
sControles = "age_hh + age_sp + educ_hh + educ_sp + female_hh + indigenous + hhsize + dirtfloor + bathroom + land + hospital_distance"

In [71]:
# pegando apenas os elegíveis (não necessariamente que participaram!)

dfElegiveis = df.query('eligible == 1')

# criando os DataFrames

dfTratamento = dfElegiveis.query('treatment_locality == 1 & round == 0')

dfComparacao = dfElegiveis.query('treatment_locality == 0 & round == 0')

In [73]:
# realizando os testes

for sVariavel in lControles:
  tuplaTeste = stats.ttest_ind(dfTratamento[sVariavel], 
                               dfComparacao[sVariavel], 
                               nan_policy='omit', alternative='two-sided')
  
# vendo se a diferença é significante
  
  sAsterisco = "**" if tuplaTeste[1] < 0.05 else ""

# printando ([0]=estatística; [1]=p-valor)

  print(f"\n========================= {sVariavel}{sAsterisco} =========================")
  print(f"Média Tratamento: {np.around(dfTratamento[sVariavel].mean(), 2)} \t Média Comparação: {np.around(dfComparacao[sVariavel].mean(), 2)}")
  print(f"Diferença = {np.around(dfTratamento[sVariavel].mean() - dfComparacao[sVariavel].mean(), 2)}")
  print(f"Estatística = {np.around(tuplaTeste[0], 4)} \t P-valor = {np.around(tuplaTeste[1], 4)}")

# nesse teste, a única variável significante que auxilía na explicação dos gastos de saúde seria a distância do hospital

========================= age_hh =========================
Média Tratamento: 41.66 	 Média Comparação: 42.29
Diferença = -0.64
Estatística = -1.6948 	 P-valor = 0.0902

========================= age_sp =========================
Média Tratamento: 36.84 	 Média Comparação: 36.88
Diferença = -0.04
Estatística = -0.1238 	 P-valor = 0.9015

========================= educ_hh** =========================
Média Tratamento: 2.97 	 Média Comparação: 2.81
Diferença = 0.16
Estatística = 2.302 	 P-valor = 0.0214

========================= educ_sp =========================
Média Tratamento: 2.7 	 Média Comparação: 2.67
Diferença = 0.03
Estatística = 0.4321 	 P-valor = 0.6657

========================= female_hh =========================
Média Tratamento: 0.07 	 Média Comparação: 0.08
Diferença = -0.0
Estatística = -0.5846 	 P-valor = 0.5588

========================= indigenous =========================
Média Tratamento: 0.43 	 Média Comparação: 0.42
Diferença = 0.01
Estatística = 0.6898 	 P-valor = 0.4903

========================= hhsize =========================
Média Tratamento: 5.77 	 Média Comparação: 5.71
Diferença = 0.06
Estatística = 1.1248 	 P-valor = 0.2607

========================= dirtfloor =========================
Média Tratamento: 0.72 	 Média Comparação: 0.73
Diferença = -0.01
Estatística = -1.0897 	 P-valor = 0.2759

========================= bathroom =========================
Média Tratamento: 0.57 	 Média Comparação: 0.56
Diferença = 0.01
Estatística = 1.133 	 P-valor = 0.2573

========================= land =========================
Média Tratamento: 1.68 	 Média Comparação: 1.72
Diferença = -0.04
Estatística = -0.5707 	 P-valor = 0.5682

========================= hospital_distance** =========================
Média Tratamento: 109.2 	 Média Comparação: 106.3
Diferença = 2.91
Estatística = 2.5722 	 P-valor = 0.0101

### 3.2 - Comparação dos gastos com saúde para a população elegível em tratamento e comunidades de controle

In [68]:
# mesmo com uma diferença significativa e hipoteticamente esperada, não se pode afirmar que esta diferença total se trata apenas do programa

df[(df['round'] == 1) & (df['eligible'] == 1)].groupby('treatment_locality')[['health_expenditures']].mean()

                    health_expenditures
treatment_locality
0.0                           17.980551
1.0                            7.840179

In [75]:
# filtrando o df para round 1

dfTratamento = dfElegiveis.query('treatment_locality == 1 & round == 1')

dfComparacao = dfElegiveis.query('treatment_locality == 0 & round == 1')

# relativo aos gastos com saúde

sVariavel = "health_expenditures"

# realização do teste

tuplaTeste = stats.ttest_ind(dfTratamento[sVariavel], 
                              dfComparacao[sVariavel], 
                              nan_policy='omit', alternative='two-sided')

# vendo se a diferença é significante

sAsterisco = "**" if tuplaTeste[1] < 0.05 else ""

# printando ([0]=estatística; [1]=p-valor)

print(f"========================= {sVariavel}{sAsterisco} =========================")
print(f"Média Tratamento: {np.around(dfTratamento[sVariavel].mean(), 2)} \t Média Comparação: {np.around(dfComparacao[sVariavel].mean(), 2)}")
print(f"Diferença = {np.around(dfTratamento[sVariavel].mean() - dfComparacao[sVariavel].mean(), 2)}")
print(f"Estatística = {np.around(tuplaTeste[0], 4)} \t P-valor = {np.around(tuplaTeste[1], 4)}")

# nota-se um p-value extremamente significante, confirmando o resultado da política pública

========================= health_expenditures** =========================
Média Tratamento: 7.84 	 Média Comparação: 17.98
Diferença = -10.14
Estatística = -49.151 	 P-valor = 0.0

### 3.3 - Regressão OLS

In [76]:
# elegíveis no round 0 (mesmos resultados do teste anterior)

formula_simples = "health_expenditures ~ 1 + treatment_locality"

# fittando com covariância CLUSTERIZADA

modelo_simples_antes = ols(formula_simples, dfElegiveis.query('round == 0')).fit(
    use_t=True, 
    cov_type='cluster', 
    cov_kwds={'groups': dfElegiveis.query('round == 0')["locality_identifier"]})

print(modelo_simples_antes.summary())

# R2, estatística F ruins: realmente domicílios antes eram semelhantes

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.000
Model:                             OLS   Adj. R-squared:                 -0.000
Method:                  Least Squares   F-statistic:                    0.1559
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):              0.693
Time:                         18:17:26   Log-Likelihood:                -16195.
No. Observations:                 5628   AIC:                         3.239e+04
Df Residuals:                     5626   BIC:                         3.241e+04
Df Model:                            1
Covariance Type:               cluster
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             14.5738      0.156     93.382      0.000      14.266      14.882
treatment_locality    -0.0842      0.213     -0.395      0.693      -0.504       0.336
==============================================================================
Omnibus:                      113.471   Durbin-Watson:                   1.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              119.539
Skew:                           0.352   Prob(JB):                     1.10e-26
Kurtosis:                       2.887   Cond. No.                         2.69
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [77]:
# elegíveis no round 1

modelo_simples_depois = ols(formula_simples, dfElegiveis.query('round == 1')).fit(
    use_t=True, 
    cov_type='cluster', 
    cov_kwds={'groups': dfElegiveis.query('round == 1')["locality_identifier"]})

print(modelo_simples_depois.summary())

# localidades diferentes após o programa passam a ter grandes diferenças

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.300
Model:                             OLS   Adj. R-squared:                  0.300
Method:                  Least Squares   F-statistic:                     656.8
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):           1.70e-64
Time:                         18:18:24   Log-Likelihood:                -19497.
No. Observations:                 5629   AIC:                         3.900e+04
Df Residuals:                     5627   BIC:                         3.901e+04
Df Model:                            1
Covariance Type:               cluster
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             17.9806      0.307     58.638      0.000      17.376      18.585
treatment_locality   -10.1404      0.396    -25.628      0.000     -10.921      -9.360
==============================================================================
Omnibus:                     2733.501   Durbin-Watson:                   1.703
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21489.300
Skew:                           2.179   Prob(JB):                         0.00
Kurtosis:                      11.522   Cond. No.                         2.69
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [78]:
# regressão múltipla

formula_multipla = f"{formula_simples} + {sControles}"

modelo_multiplo_depois = ols(formula_multipla, dfElegiveis.query('round == 1')).fit(
    use_t=True, 
    cov_type='cluster', 
    cov_kwds={'groups': dfElegiveis.query('round == 1')["locality_identifier"]}
)

print(modelo_multiplo_depois.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     health_expenditures   R-squared:                       0.430
Model:                             OLS   Adj. R-squared:                  0.428
Method:                  Least Squares   F-statistic:                     136.0
Date:                 Fri, 21 Jan 2022   Prob (F-statistic):           4.78e-88
Time:                         18:19:00   Log-Likelihood:                -18922.
No. Observations:                 5629   AIC:                         3.787e+04
Df Residuals:                     5616   BIC:                         3.796e+04
Df Model:                           12
Covariance Type:               cluster
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             27.5654      0.864     31.922      0.000      25.862      29.268
treatment_locality   -10.0103      0.341    -29.336      0.000     -10.683      -9.337
age_hh                 0.0412      0.015      2.808      0.005       0.012       0.070
age_sp                 0.0032      0.017      0.185      0.853      -0.031       0.037
educ_hh               -0.0389      0.047     -0.831      0.407      -0.131       0.053
educ_sp               -0.0224      0.049     -0.455      0.649      -0.119       0.075
female_hh              0.6431      0.444      1.448      0.149      -0.233       1.519
indigenous            -1.9053      0.350     -5.450      0.000      -2.595      -1.216
hhsize                -1.6034      0.066    -24.478      0.000      -1.733      -1.474
dirtfloor             -1.8494      0.278     -6.662      0.000      -2.397      -1.302
bathroom               0.2850      0.246      1.157      0.249      -0.201       0.771
land                   0.0380      0.038      1.012      0.313      -0.036       0.112
hospital_distance     -0.0026      0.004     -0.616      0.539      -0.011       0.006
==============================================================================
Omnibus:                     2636.189   Durbin-Watson:                   1.682
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            23773.102
Skew:                           2.029   Prob(JB):                         0.00
Kurtosis:                      12.214   Cond. No.                         858.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [80]:
# questão 4

# pode-se deduzir do modelo uma diferença percentual de aproximadamente 10% entre as famílias tratadas e não tratadas

# conclui-se que o programa possui impacto positivo para aqueles que recebem o tratamento

In [ ]:
# questão 5

# ainda existe o risco de haver ocorrido um cumprimento parcial, ou seja:
  ## que algumas das unidades selecionadas para o grupo de tratamento optaram por não se inscrever ou foram deixadas sem tratamento, ou
  ## alguns indivíduos selecionados para o grupo de comparação conseguiram participar do programa.